.collection {
  background-image: url('../../public/images/collection.jpg');
  background-repeat: no-repeat;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.collection__cards {
  max-width: 1024px;
  margin: 12px auto;
  padding: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 32px;
}

@media screen and (max-width: 832px ) {
  .collection {
    max-height: 80vh;
    overflow: scroll;
  }
}

@media screen and (max-width: 540px) {

  .collection{
    max-height: 78vh;
  }

  .collection__cards {
    padding: 0;
  }
}
