.contact{
  background-image: url('../../public/images/contact.jpg');
  max-width: 1440px;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contact__form{
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  min-height: 480px;
  background-color: rgba(255, 234, 220, 0.9);
  border-radius: 16px;
  padding: 24px;
  font-family: Playfair Display, Georgia, 'Times New Roman', Times, serif;
  margin: 0 12px;
}



.contact__label{
  margin-bottom: 12px;
  
}

.contact__input{
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact__query{
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 12px 12px;
  border-radius: 8px;
  min-height: 180px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact__submit{
  margin: 12px auto;
  border: none;
  border-radius: 16px;
  max-width: 240px;
  width: 100%;
  padding: 8px;
  min-height: 24px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact__error {
  text-align: end;
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 0;
  padding: 0px 20px;
  min-height: 14px;
}

.contact__alert{
  font-size: 20px;
}