.footer {
  margin: 0 auto;
  min-height: 48px;
  max-width: 1280px;
  padding: 20px 40px;
  
}

.footer__content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer__icon {
  max-width: 28px;
  max-height: 28px;
}

.footer__text {
  color: #0f162694;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  margin: 12px auto;
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 20px;
    display: flex;
  }

  .footer__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }
  .footer__text {
    margin: 0;
    padding: 10px 20px;
  }
}
