.main {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/images/hero.jpg');
  background-position: center;
}

.main__content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main__container {
  max-width: 320px;
  background-color: rgba(255, 246, 246, 0.8);
  border-radius: 16px;
  padding: 40px;
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main__logo {
  max-width: 240px;
  margin: 24px auto;
  text-align: end;
}

.main__title {
  font-family: Playfair Display, Georgia, 'Times New Roman', Times, serif;
  text-align: end;
  margin: 12px 0px;
}

.main__subtitle {
  font-family: Playfair Display, Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  text-align: end;
  font-style: italic;
  font-size: 22px;
  margin: 12px 0px;
  line-height: 1.2;
}

@media screen and (max-width: 760px) {
  .main__content {
    margin: 0 20px;
  }
}
@media screen and (max-width: 580px) {
  .main__container {
    margin: 0;
    padding: 20px;
  }
  .main__content {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .main__content {
    margin: 0 4px;
    padding: 10px 0;
  }
}
