.order {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255,234,220);
background: radial-gradient(circle, rgba(255,234,220,1) 0%, rgba(255,255,255,1) 30%);
}

.order__content {
  max-width: 1280px;
  width:100%;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}

.order__container{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  max-width: 480px;
  padding: 40px;
  margin: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.order__image{
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 80vh;
  max-width: 1440px;
  margin: 0 auto;
}

.order__title {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  margin: 12px 0;
  text-align: right;
  line-height: 1.2;
  font-size: 28px;
}
.order__subtitle {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 12px 0;
  text-align: right;
  line-height: 1.2;
  font-size: 20px;
}

.order__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__icon {
  max-width: 96px;
  max-height: 96px;
}
