@import url(../vendor/normalize.css);

body {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@import url(../vendor/fonts/fonts.css);
@import url(./components/Header.css);
@import url(./components/Footer.css);
@import url(./components/Main.css);
@import url(./components/Burger.css);
@import url(./components/About.css);
@import url(./components/Collection.css);
@import url(./components/Order.css);
@import url(./components/Contact.css);
@import url(./components/PopupCard.css);
@import url(./components/ProductCard.css);
