.order {
  background-image: url('../../images/order.jpg');
  max-width: 1440px;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
}

.order__content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  max-width: 480px;
  padding: 40px;
  margin: 48px;
  display: flex;
  flex-direction: column;

}

.order__title {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  margin: 12px 0;
  text-align: right;
  line-height: 1.2;
  font-size: 28px;
}
.order__subtitle {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 12px 0;
  text-align: right;
  line-height: 1.2;
  font-size: 20px;
}

.order__icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__icon{
max-width: 96px;
}